.moviesList {
	display: flex;
	flex-direction: row;
	list-style: none;
	max-width: 100%;
	overflow: hidden;
	background-color: black;
}

.movieItem {
	transform: scale(.9);
	&:hover {
		transition: ease .2s;
		transform: scale(1);
		cursor: pointer;
	}
}